.swiper-pagination-bullet {
  opacity: 1;
  background: #ccc;
}
.swiper-pagination-bullet-active {
  background: #ffba08;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffba08;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}
