.button {
  height: 3rem;
  border-radius: 3rem;
  background: var(--signin-button);
  border: 0;
  padding: 0 1.5rem;

  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  font-weight: bold;

  transition: filter 0.2s;

  svg {
    width: 20px;
    height: 20px;
  }

  > button {
    border: 0;
    display: flex;
    color: #737380;
    position: relative;
    border-radius: 9999px;
    background: transparent;

    transition: color 0.2s;

    &:hover {
      color: var(--white);

      &::after {
        content: '';
        padding: 1rem;
        position: absolute;
        filter: brightness(0.6);
        background: var(--signin-button);
        z-index: -1;
        top: -26%;
        right: -30%;
        border-radius: 9999px;
      }
    }
  }

  &:hover {
    filter: brightness(1.2);
  }
}
